/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /*transparent link selection*/
		/*adjust last value opacity 0 to 1.0*/
}

body {
	-webkit-touch-callout: none; /*no callout to copy image, etc when tap to hold*/
	-webkit-text-size-adjust: none; /*no webkit resizing text to fit*/
	-webkit-user-select: none; /*no copy paste (to allow, 'none' => 'text'*/
	background-color:#000;
	background-image:url('/img/background.jpg');
	background-position:top left;
	background-size:cover;
	color:white;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	height:100%;
	margin:0px;
	overflow:hidden;
	padding:0px;
	width:100%;
}

#cards {
	padding:20px 10px 20px 10px;
	text-align:center;
}

#main_display {
	height:100%;
	width:100%;
	overflow:hidden;
}
#main_display > div {
	height:100%;
	width:100%;
	overflow:hidden;
}

#out {
	background-color:rgba(0,0,0,0.4);
	border:solid 2px rgba(0,0,0,0.4);
	color:#fff;
	text-shadow:
		-1px -1px 5px #60c,
		 1px  1px 5px #60c,
		-1px  1px 5px #60c,
		 1px -1px 5px #60c,
		-2px -2px 7px #000,
		 2px  2px 7px #000,
		-2px  2px 7px #000,
		 2px -2px 7px #000,
		-3px -3px 10px #000,
		 3px  3px 10px #000,
		-3px  3px 10px #000,
		 3px -3px 10px #000;
	font-weight:300px;
	padding:10px 0px 10px 0px;
margin-top:200px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	/*TODO: make landscape specific changes*/
}

.absBottom, .absMiddle, .absTop {
	position:absolute;
	left:0px;
	width:100%;
}
.absBottom {bottom:0px;}
.absMiddle {top:33%;}
.absTop {top:0px;}

.icon {
	height:60px;
	width:60px;
	margin:4px;
}

.invisible {display:none;}

.tButtons {
	width:100%;
}

